<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @member_category.description %>
</p>


<%= link_to 'Edit', edit_member_category_path(@member_category) %> |
<%= link_to 'Back', member_categories_path %>
