<%= form_for([:control, @user], :html => {:class => "form-horizontal"}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p id="notice"><%= notice %></p>

    <fieldset>

      <legend>Личные данные</legend>

      <div class="control-group">
        <label class="control-label"><%= f.label :email %></label>

        <div class="controls">
          <%= f.email_field :email, :placeholder => 'ivan@mail.ru' %>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label"><%= f.label :password %></label>

        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :password_confirmation %></label>

        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :name %></label>

        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :last_name %></label>

        <div class="controls">
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :surname %></label>

        <div class="controls">
          <%= f.text_field :surname %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :address %></label>

        <div class="controls">
          <%= f.text_field :address %>
        </div>
      </div>

      <legend>Доступ</legend>

      <div class="control-group">
        <label class="control-label">Роль</label>

        <div class="controls">
          <%= f.select :role_id, Role.all.map { |r| [r.title, r.id] } %>
        </div>
      </div>

      <legend>Контактная информация</legend>

      <div class="control-group">
        <label class="control-label"><%= f.label :phone %></label>

        <div class="controls">
          <%= f.text_field :phone %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :skype %></label>

        <div class="controls">
          <%= f.text_field :skype %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :icq %></label>

        <div class="controls">
          <%= f.text_field :icq %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :site %></label>

        <div class="controls">
          <%= f.text_field :site %>
        </div>
      </div>

    </fieldset>

    <div class="form-actions">
      <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
      <%= link_to 'Отмена', control_users_path, :class => 'btn' %>
    </div>
<% end %>
