<div class="address">

  <div class="address-title">
    <a id="title" href="javascript:" onclick='AddressDialog.show($(this).parents(".address").first())'>
      <%= f.object.address %>
    </a>
    <%= f.link_to_remove 'Удалить', :class => 'btn btn-danger btn-small pull-right' %>
  </div>

  <div id="address-info" class="address modal hide fade">

    <div class="modal-body">

      <fieldset>
        <div id="map" style="height: 200px; margin-bottom: 20px; border:  solid 1px #CCCCCC;">
          <div id="map_canvas" style="width: 100%; height: 100%;"></div>

          <%= f.hidden_field :latitude, :class => 'address-latitude' %>
          <%= f.hidden_field :longitude, :class => 'address-longitude' %>

        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :member_address_type_id %></label>

          <div class="controls">
            <%= f.select :member_address_type_id,
                         options_from_collection_for_select(MemberAddressType.all, 'id', 'name', f.object.member_address_type_id) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :address %></label>

          <div class="controls">
            <%= f.text_field :address, :placeholder => 'Россия, Москва', :class => 'address-input' %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :note %></label>

          <div class="controls">
            <%= f.text_area :note, :rows => 5 %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :contacts %></label>

          <div class="controls">
            <%= f.text_field :contacts %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :description %></label>

          <div class="controls">
            <%= f.text_area :description, :rows => 5 %>
          </div>
        </div>

      </fieldset>

    </div>

    <div class="modal-footer">
      <a id="save-btn" class="btn btn-primary">Сохранить</a>
      <a id="cancel-btn" class="btn">Отмена</a>
    </div>

  </div>
</div>