<%= javascript_include_tag 'control/members' %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGWSI8xlBZIb9GX1p_IqbgNKQbqXNpfBg&sensor=false">
</script>

<div id="member">
  <%= nested_form_for([:control, @member], :html => {:class => "form-horizontal"}) do |f| %>

      <% if @member.errors.any? %>
          <div id="error_explanation" class="alert alert-error">
            <ul>
              <% @member.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <p id="notice"><%= notice %></p>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#common-tab" data-toggle="tab">Общее</a></li>
          <li><a href="#categories-tab" data-toggle="tab">Категории</a></li>
          <li><a href="#regions-tab" data-toggle="tab">Регионы</a></li>
          <li><a href="#addresses-tab" data-toggle="tab">Адреса</a></li>
          <li><a href="#contacts-tab" data-toggle="tab">Контакты</a></li>
        </ul>

        <div class="tab-content">

          <div id="common-tab" class="tab-pane active">
            <fieldset>
              <div class="control-group">
                <label class="control-label"><%= f.label :name %></label>

                <div class="controls">
                  <%= f.text_field :name %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :member_tariff_id %></label>

                <div class="controls">
                  <%= f.select :member_tariff_id,
                               options_from_collection_for_select(MemberTariff.all, 'id', 'name', @member.member_tariff_id) %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :is_moderated %></label>

                <div class="controls">
                  <%= f.check_box :is_moderated %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :user_id %></label>

                <div class="controls">
                  <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :full_name_with_email, @member.user_id),
                               :include_blank => 'Не выбрано' %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :country_id %></label>

                <div class="controls">
                  <%= f.select :country_id, options_from_collection_for_select(Country.all, :id, :name, @member.country_id) %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :image_id %></label>

                <div class="controls">
                  <input id="member-logo-file" type="file"/>
                  <%= hidden_field_tag :logo_id %>
                  <div>
                    <img id="member-logo" <%= 'src=' + @member.image.picture(:thumb) if @member.image %> />
                  </div>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :description %></label>

                <div class="controls">
                  <%= f.text_area :description, :rows => 10 %>
                </div>
              </div>
            </fieldset>
          </div>

          <div id="categories-tab" class="tab-pane">
            <fieldset>
              <div id="categories">
                <% for category in MemberCategory.all %>
                    <div class="category">
                      <%= check_box_tag "member[member_category_ids][]", category.id,
                                        @member.member_categories.include?(category) %>
                      <%= category.name %>
                    </div>
                <% end %>
              </div>
            </fieldset>
          </div>

          <div id="regions-tab" class="tab-pane">
            <fieldset>
              <div id="regions">
                <div class="list">
                  <% if @member.regions.count > 0 %>
                      <% @member.regions.each do |region| %>
                          <div class="region">
                            <%= select_tag 'countries',
                                           options_from_collection_for_select(Country.all, :id, :name, region.country_id),
                                           :onchange => 'loadRegions(this)' %>
                            <%= select_tag "member[region_ids][]",
                                           options_from_collection_for_select(Region.all, :id, :name, region.id), :class => 'regions-select' %>
                            <a class="remove-region-btn btn btn-danger btn-small">Удалить</a>
                          </div>
                      <% end %>
                  <% else %>
                      <div class="region">
                        <%= select_tag 'countries',
                                       options_from_collection_for_select(Country.all, :id, :name),
                                       :onchange => 'loadRegions(this)' %>
                        <%= select_tag "member[region_ids][]",
                                       options_from_collection_for_select(Region.all, :id, :name), :class => 'regions-select' %>
                      </div>
                  <% end %>
                </div>
                <a class="btn" onclick="Members.addRegion()">Добавить регион</a>
              </div>
            </fieldset>
          </div>

          <div id="addresses-tab" class="tab-pane">
            <fieldset>
              <div id="addresses">
                <div class="list">
                  <%= f.fields_for :member_addresses do |address_form| %>
                      <%= render '/control/members/address', :f => address_form %>
                  <% end %>
                  <%= f.link_to_add "Добавить адрес", :member_addresses, :class => 'btn' %>
                </div>
              </div>
            </fieldset>
          </div>

          <div id="contacts-tab" class="tab-pane">
            <fieldset>
              <div class="control-group">
                <label class="control-label"><%= f.label :site %></label>

                <div class="controls">
                  <%= f.text_field :site %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :phone %></label>

                <div class="controls">
                  <%= f.text_field :phone %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :email %></label>

                <div class="controls">
                  <%= f.text_field :email %>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"><%= f.label :contacts %></label>

                <div class="controls">
                  <%= f.text_area :contacts, :rows => 10 %>
                </div>
              </div>
            </fieldset>
          </div>

        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
        <%= link_to 'Отмена', control_members_path, :class => 'btn' %>
      </div>

  <% end %>
</div>