<h1>Участники</h1>

<div class="table-control">
  <%= link_to 'Добавить участника', new_control_member_path, :class => 'btn btn-primary' %>
</div>

<table class="table table-striped table-hover">
  <tr>
    <th><%= sortable :id, '#' %></th>
    <th><%= sortable :name, 'Название' %></th>
    <th><%= sortable :country_id, 'Страна' %></th>
    <th><%= sortable :is_moderated, 'Модерирован' %></th>
    <th><%= sortable :site, 'Сайт' %></th>
    <th><%= sortable :phone, 'Телефон' %></th>
    <th><%= sortable :email, 'Email' %></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr class="<%= 'success'.html_safe if member.is_moderated %>">
    <td><strong><%= member.id %></strong></td>
    <td><%= member.name %></td>
    <td><%= member.country.name if member.country %></td>
    <td><%= member.is_moderated ? 'Да' : 'Нет' %></td>
    <td>
      <%= link_to member.site, "http://#{member.site}" %>
    </td>
    <td><%= member.phone %></td>
    <td>
      <%= link_to member.email, "mailto:#{member.email}" %>
    </td>
    <td class="text-right">
      <%= link_to 'Изменить', edit_control_member_path(member), :class => 'btn btn-small' %>
      <%= link_to 'Удалить', control_member_path(member), method: :delete, data: { confirm: 'Вы уверены?' },
                  :class => 'btn btn-danger btn-small'%>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @members, :renderer => BootstrapPagination::Rails %>
