<%= javascript_include_tag 'control/plant_categories' %>

<%= form_for([:control, @plant_category], :html => {:class => "form-horizontal"}) do |f| %>
    <% if @plant_category.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <ul>
            <% @plant_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>

      <legend></legend>

      <div class="control-group">
        <label class="control-label"><%= f.label :plant_category %></label>

        <div class="controls">
          <%= f.select :plant_category_id, categories_list, :include_blank => 'Не выбрано' %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :name %></label>

        <div class="controls">
          <%= f.text_field :name, :placeholder => '' %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :lat_name %></label>

        <div class="controls">
          <%= f.text_field :lat_name, :placeholder => '' %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><%= f.label :description %></label>

        <div class="controls">
          <%= f.text_area :description, :rows => 5 %>
        </div>
      </div>

    </fieldset>

    <div class="form-actions">
      <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
      <%= link_to 'Отмена', control_plant_categories_path, :class => 'btn' %>
    </div>

<% end %>
