<%= form_for([:control, @plant_feature], :html => {:class => "form-horizontal"}) do |f| %>
    <% if @plant_feature.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <ul>
            <% @plant_feature.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p id="notice"><%= notice %></p>

    <fieldset>

      <legend>Данные по характеристике</legend>

      <div class="control-group">
        <label class="control-label"><%= f.label :name %></label>

        <div class="controls">
          <%= f.text_field :name, :placeholder => 'Отношение к солнцу' %>
        </div>
      </div>

    </fieldset>

    <div class="form-actions">
      <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
      <%= link_to 'Отмена', control_plant_features_path, :class => 'btn' %>
    </div>

<% end %>
