<h1>Характеристики растений</h1>

<div class="table-control">
  <%= link_to 'Добавить характеристику', new_control_plant_feature_path, :class => 'btn btn-primary' %>
</div>

<table class="table table-striped table-hover">
  <tr>
    <th><%= sortable :id, '#' %></th>
    <th><%= sortable :name, 'Название' %></th>
    <th></th>
  </tr>

<% @plant_features.each do |plant_feature| %>
  <tr>
    <td><strong><%= plant_feature.id %></strong></td>
    <td><%= plant_feature.name %></td>
    <td style="text-align: right;">
      <%= link_to 'Изменить', edit_control_plant_feature_path(plant_feature), :class => 'btn btn-small' %>
      <%= link_to 'Удалить', control_plant_feature_path(plant_feature), method: :delete, data: { confirm: 'Вы уверены?' },
                  :class => 'btn btn-danger btn-small' %>
    </td>
  </tr>
<% end %>
</table>
