<%= stylesheet_link_tag 'catalog' %>
<%= javascript_include_tag 'catalog' %>

<h1>Управление каталогом</h1>

<%= render 'shared/profile_menu' %>

<%= nested_form_for(@member, :html => {:class => "form-horizontal"}) do |f| %>

    <div id="catalog">

      <div style="margin-bottom: 10px;">
        <%= link_to 'Новый прайс лист', profile_new_price_path, :remote => true, :class => 'btn btn-success' %>
      </div>

      <div class="tabbable">
        <ul id="prices" class="nav nav-tabs">
          <li <%= 'class=active' if params[:member_price_id].blank? %>>
            <%= link_to 'Все растения', profile_catalog_path %>
          </li>
          <% current_user.member.member_prices.each do |price| %>
              <li <%= 'class=active' if price.id == params[:member_price_id].to_i %>>
                <%= link_to price.name, profile_catalog_path(:member_price_id => price.id) %>
              </li>
          <% end %>
        </ul>

        <div class="tab-content">

          <% if params[:member_price_id].blank? %>
              <div id="all-tab" class="tab-pane active">

                <table id="plants-price-list" class="list table table-striped table-hover table-bordered">
                  <tr>
                    <th>Растение</th>
                    <th>Упаковка / Кондиция</th>
                    <th>Размер</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Примечание</th>
                    <th>Прайс</th>
                    <th></th>
                  </tr>
                  <%= f.fields_for :plant_prices, @plant_prices do |plant_price_form| %>
                      <tr class="plant-price" style="<%= 'display: none' if plant_price_form.object.id.nil? %>">
                        <%= render 'plant_price', :f => plant_price_form %>
                      </tr>
                  <% end %>
                </table>
                <a class="btn pull-right" onclick="addNewPrice()">Добавить</a>

              </div>
          <% end %>

          <% current_user.member.member_prices.each do |member_price| %>

              <% is_active_tab = @member_price.id == member_price.id %>


                <% if is_active_tab %>

                  <div id="price<%= @member_price.id %>-tab" class="tab-pane active">
                    <%= hidden_field_tag :member_price_id, @member_price.id %>

                    <div style="margin-bottom: 10px; text-align: right;">
                        <%= link_to 'Удалить прайс лист', profile_remove_member_price_path(:id => @member_price.id),
                                    method: :delete, data: { confirm: 'Вы уверены?' },
                                    :class => 'btn btn-danger btn-small' %>
                    </div>

                    <table id="plants-price-list" class="list table table-striped table-hover table-bordered">
                      <tr>
                        <th>Растение</th>
                        <th>Упаковка / Кондиция</th>
                        <th>Размер</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Примечание</th>
                        <th>Прайс</th>
                        <th></th>
                      </tr>
                      <%= f.fields_for :plant_prices, @plant_prices do |plant_price_form| %>
                          <tr class="plant-price" style="<%= 'display: none' if plant_price_form.object.id.nil? %>">
                            <%= render 'plant_price', :f => plant_price_form %>
                          </tr>
                      <% end %>
                    </table>
                    <a class="btn pull-right" onclick="addNewPrice()">Добавить</a>

                  </div>

                <% end %>

          <% end %>
        </div>
      </div>

    </div>
<% end %>