<%= javascript_include_tag 'control/members' %>

<h1>Моя компания</h1>

<%= render 'shared/profile_menu' %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGWSI8xlBZIb9GX1p_IqbgNKQbqXNpfBg&sensor=false">
</script>

<div id="member">
  <%= nested_form_for(@member, :url => { :action => 'update_member' }, :html => {:class => "form-horizontal"}) do |f| %>

      <%= f.hidden_field :id %>

      <% if @member.errors.any? %>
          <div id="error_explanation" class="alert alert-error">
            <ul>
              <% @member.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id %>

      <fieldset>
        <legend>Информация об участнике</legend>

        <div class="control-group">
          <label class="control-label"><%= f.label :name %></label>

          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :member_tariff_id %></label>

          <div class="controls">
            <%= f.select :member_tariff_id,
                         options_from_collection_for_select(MemberTariff.all, 'id', 'name', @member.member_tariff_id) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :country_id %></label>

          <div class="controls">
            <%= f.select :country_id, options_from_collection_for_select(Country.all, :id, :name, @member.country_id) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :image_id %></label>

          <div class="controls">
            <input id="member-logo-file" type="file"/>
            <%= hidden_field_tag :logo_id %>
            <div>
              <% if @member.image %>
                  <%= image_tag @member.image.picture(:thumb), :id => 'member-logo' %>
              <% else %>
                  <%= image_tag '', :id => 'member-logo', :style => 'display:none;' %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :description %></label>

          <div class="controls">
            <%= f.text_area :description, :rows => 10 %>
          </div>
        </div>

        <legend>Категории</legend>
        <div id="categories">
          <% for category in MemberCategory.all %>
              <div class="category">
                <%= check_box_tag "member[member_category_ids][]", category.id,
                                  @member.member_categories.include?(category) %>
                <%= category.name %>
              </div>
          <% end %>
        </div>

        <legend>Регионы</legend>
        <div id="regions">
          <div class="list">
            <% if @member.regions.count > 0 %>
                <% @member.regions.each do |region| %>
                    <div class="region">
                      <%= select_tag 'countries',
                                     options_from_collection_for_select(Country.all, :id, :name, region.country_id),
                                     :onchange => 'loadRegions(this)' %>
                      <%= select_tag "member[region_ids][]",
                                     options_from_collection_for_select(Region.all, :id, :name, region.id), :class => 'regions-select' %>
                      <a class="remove-region-btn btn btn-danger btn-small">Удалить</a>
                    </div>
                <% end %>
            <% else %>
                <div class="region">
                  <%= select_tag 'countries',
                                 options_from_collection_for_select(Country.all, :id, :name),
                                 :onchange => 'loadRegions(this)' %>
                  <%= select_tag "member[region_ids][]",
                                 options_from_collection_for_select(Region.all, :id, :name), :class => 'regions-select' %>
                </div>
            <% end %>
          </div>
          <a class="btn" onclick="addMemberRegion()">Добавить регион</a>
        </div>

        <legend>Адреса</legend>
        <div id="addresses">
          <div class="list">
            <%= f.fields_for :member_addresses do |builder| %>
                <div class="address">
                  <%= render '/control/members/address', :f => builder %>
                </div>
            <% end %>
            <%= f.link_to_add "Добавить адрес", :member_addresses, :class => 'btn' %>
          </div>
        </div>

        <legend>Контакты</legend>

        <div class="control-group">
          <label class="control-label"><%= f.label :site %></label>

          <div class="controls">
            <%= f.text_field :site %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :phone %></label>

          <div class="controls">
            <%= f.text_field :phone %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :email %></label>

          <div class="controls">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"><%= f.label :contacts %></label>

          <div class="controls">
            <%= f.text_area :contacts, :rows => 10 %>
          </div>
        </div>

      </fieldset>

      <div class="form-actions">
        <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
        <%= link_to 'Отмена', control_members_path, :class => 'btn' %>
      </div>

  <% end %>
</div>
