<%= content_for :title, @member.name %>

<%= javascript_include_tag 'member' %>

<style>

    #member .logo {

        float: left;
        padding-right: 15px;
    }

    #member .logo img {
        border-radius: 5px;
    }

    #member .phone {

        font-size: 16px;
        line-height: 1.4em;
        font-family: "trebuchet ms";
    }

    #member .info {

    }

    #member .info dt, #member .info dd {

        line-height: 30px;
    }

    #member .info dt {

        width: 140px;
    }

    #member .info dd {

        margin-left: 165px;
    }

    #member #addresses {

        margin-bottom: 20px;
        width: 500px;
    }

    #member #map_canvas {

        width: 100%;
        height: 300px;
    }

    #member .map-bubble p, #member .map-bubble hr {

        margin: 5px 0;
        max-width: 350px;
    }

    #member .map-bubble-wrapper {
        display: none;
    }

</style>

<div id="member">
  <div>
    <div class="logo">
      <%= image_tag(@member.image.picture(:thumb)) %>
    </div>
    <h1><%= @member.name %></h1>
    <strong><%= @member.country.name %></strong>

    <div style="clear: both;"></div>
  </div>

  <hr/>
  <h4>О нас</h4>

  <dl class="info dl-horizontal">
    <dt>Категории:</dt>
    <dd>
      <%= categories_string(@member) %>
    </dd>
    <dt>Описание:</dt>
    <dd>
      <%= @member.description %>
    </dd>
    <dt>Регионы:</dt>
    <dd>
      <% @member.regions.each do |region| %>
          <%= region.name %> (<b><%= region.country.name %></b>)<br/>
      <% end %>
    </dd>
  </dl>

  <hr/>
  <h4>Контакты</h4>

  <dl class="info dl-horizontal">

    <dt>Телефон:</dt>
    <dd>
      <span class="phone"><%= @member.phone %></span>
    </dd>

    <dt>Сайт:</dt>
    <dd>
      <%= link_to @member.site, "http://#{@member.site}", :target => '_blank' %>
    </dd>

    <dt>E-mail:</dt>
    <dd>
      <%= link_to @member.email, "mailto:#{@member.email}" %>
    </dd>

    <dt>Контакты:</dt>
    <dd>
      <%= @member.contacts %>
    </dd>

  </dl>

  <hr/>
  <h4>Наши адреса</h4>

  <div id="addresses">
    <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGWSI8xlBZIb9GX1p_IqbgNKQbqXNpfBg&sensor=false"></script>
    <div id="map_canvas"></div>
    <% @member.member_addresses.each_with_index do |address, index| %>
        <div class="address">
          <hr/>
          <div>
            <p>
              <a class="show-on-map-link" href="javascript:"><%= index + 1 %>. <%= address.member_address_type.name %>
                (<%= @member.name %>)</a>
            </p>

            <p>
              <strong>Адрес: </strong><%= address.address %>
            </p>
            <% unless address.contacts.blank? %>
                <p>
                  <strong>Контакты: </strong><%= address.contacts %>
                </p>
            <% end %>
            <% unless address.note.blank? %>
                <p>
                  <strong>Примечание: </strong><%= address.note %>
                </p>
            <% end %>
          </div>

          <%= hidden_field_tag :latitude, address.latitude %>
          <%= hidden_field_tag :longitude, address.longitude %>

          <div class="map-bubble-wrapper">
            <div class="map-bubble">
              <strong><%= address.member_address_type.name %> (<%= @member.name %>)</strong>
              <hr/>
              <p>
                <strong>Адрес: </strong><%= address.address %>
              </p>
              <% unless address.contacts.blank? %>
                  <p>
                    <strong>Контакты: </strong><%= address.contacts %>
                  </p>
              <% end %>
              <% unless address.note.blank? %>
                  <p>
                    <strong>Примечание: </strong><%= address.note %>
                  </p>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>